﻿.hover-row{
    background-color:#ededed;
}

.hover{
    background-color:#ebe3e3;
}



.divTable {
    display: table;
    cursor:default;
    height: 230px;
    float: left;
    line-height:14px;
}

.divRow {
    float:none;
    height: 14px;
    max-height:14px;
    margin:0px;
    padding:0px;
}

.divCell {
    display: table-cell;
    text-align:center;
    vertical-align:middle;
    width: 10px;
    max-width:10px;
    min-width:10px;
    height:14px;
    border:1px solid #ccc;
    margin:0px; 
    padding:0px;
}

.editor-container{
    margin-bottom:100px;
}